body{
  margin:0;
  
  
}
#navbar{
  position:fixed;
   float:right;
  
}
#navbar a{
  color:white;
  text-decoration:none;
  padding-left:20px;
 font-size:20px;
 
}
#navbar a:hover{
  color:grey;
}


#welcome-section{
  padding:80px;
   background-image: url(https://i.postimg.cc/GhdPKTjz/stars.jpg);
  color:white;
  text-align:center;
}
#projects h1{
  margin-top:60px;
  padding-top:10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
  width:100%;
  background-color:black;
  color:white;
  
}
.row{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  width:100%;
  margin-left:45px;
  padding-top:30px;
  
  
}
.column{
  display:flex;
  flex-direction:column;
   justify-content:space-around;
  flex:3;
   
}
#footer{
  margin-top:70px;
  text-align:center;
  padding:20px;
  background-color:black;
  color:white;
}